{{<layout}}

{{$content}}
<main id="content" role="main">

  <a class="link-back" href="/examples/">Back to the GOV.UK prototype kit examples</a>

  <form action="/" method="post" class="form">

    <h1 class="form-title heading-large">
      Your address
    </h1>

    <!-- House number -->
    <div class="form-group">
      <label class="form-label-bold" for="full-name">House number or name, building or street</label>
      <input type="text" class="form-control" id="full-name">
    </div>

    <!-- Town or city -->
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Town or city</label>
      <input type="text" class="form-control" id="full-name">
    </div>

    <!-- postcode -->
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Postcode</label>
      <input type="text" class="form-control" id="full-name">
    </div>

    <!-- Continue button -->
    <div class="form-group">
      <a href="same-address-yes-no" class="button" value="Continue">Continue</a>
    </div>

  </form>

</main>
{{/content}}

{{/layout}}
