{{<layout}}

{{$pageTitle}}Book an inspection{{/pageTitle}}

{{$content}}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <!-- 
    Good langugage to describe disability: 
    https://www.gov.uk/government/publications/inclusive-communication 
    -->

    <a class="link-back" href="/examples/">Back to the GOV.UK</a>

    <form action="/" method="post" class="form">

      <h1 class="form-title heading-xlarge">
        Book an appointment
      </h1>

      <p class="lede">
        To get a firearm licence, police need to inspect the security you, to ensure your firearms are stored safely. 
      </p>

      <p class="">
        You’ll need to know:
      </p>

      <ul class="list list-bullet">
        <li>Your podcode</li>
        <li>Your reference number from your application</li>
      </ul>

      <div class="form-group">
        <details>
          <summary><span class="summary">Cannot find my reference number</span></summary>
          <div class="panel-indent">
            <p>
              Your reference can be found on any texts, emails or letters you have recieved from your local police about your firearm licence application.
            </p>
          </div>
        </details>
      </div>

      <p>
        <a href="/booking-verify" class="button button-start"  role="button">Start now</a>
      </p>



    </form>
</div>
</div>

</main>
{{/content}}

{{/layout}}
