{{<layout}}

{{$pageTitle}}Book an inspection{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Choose an appointment
  </h1>

  <p class="lede">
    First available appointment:
  </p>

  <div class="appointment-box-1" style="">

  <table class="table-pay">
    <tbody>
      <tr  bgcolor="#DEE0E2">
        <td style="padding-left: 10px;">
        <span class="heading-medium">Thursday 28th January 2016</span> at <span class="heading-medium">11:30</span></td>
        <td class="heading-medium"></td>
        <td class="heading-medium"></td>
      </tr>
    </tbody>
  </table>

  <table class="check-your-answers" style="border-bottom: none;">

    <tbody>
      <tr>
        <td>
          <td style="padding-left:;"><img src="/public/images/police-officer.png" class="police-office ">
        </td>
        </td>
        <td>
          <span style="font-weight: bold;">Constable Steve Helmsley</span> <br>
          Firearms officer<br>
          Cumbria Constabulary (police)<br><br>
          20 minutes face to face at:<br>     
          15 Maple Drive,Kendal, LA9 5BN
        </td>
        <td class="change-answer">
          <a href="booking-confirm-yes-no" class="button">
            Book this appointment
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  </div><!-- appointment box -->

  <h2 class="heading-medium"><a href="booking-all-available-appointments">See all appointments</a></h2>

</main>

{{/content}}

{{/layout}}
