{{<layout}}

{{$pageTitle}}Book an inspection{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <h1 class="heading-xlarge">
    Book appointment
  </h1>

  <div class="grid-row">

 
    <img src="/public/images/police-officer.png" class="police-office " style="float: left; padding-left: 18px; padding-right: 18px;">


    <div class="column-two-thirds">
          <span class="heading-medium">Thursday 28th January 2016 at 11:30</span><br><br>
          <span style="font-weight: bold;">Constable Steve Helmsley</span> <br>
          Firearms inspection<br>
          Cumbria Constabulary (police)<br><br>
          20 minutes <span style="font-weight: bold;">face to face</span> at:<br><br>

          15 Maple Drive<br>
          Kendal <br>
          LA9 5BN
    </div>

  </div>

  <h2 class="heading-medium"></h2>

  <div class="form-group">
    <a href="booking-confirmation" class="button">Book this appointment</a>
  </div>


</main>

{{/content}}

{{/layout}}
