{{<layout}}

{{$pageTitle}} Confirmation page example {{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Booking confirmed</h1>
        <p>
          Your booking reference number is <br>
          <strong class="heading-medium">43236WPGV</strong>
        </p>
      </div>
      <p style="padding-bottom: 18px;"><br>We have sent you a confirmation email.</p>

      <div class="grid-row">

     
        <img src="/public/images/police-officer.png" class="police-office " style="float: left; padding-left: 18px; padding-right: 18px;">


        <div class="column-two-thirds">
              <span class="heading-medium">Thursday 28th January 2016 at 11:30</span><br><br>
              <span style="font-weight: bold;">Constable Steve Helmsley</span> <br>
              Firearms inspection<br>
              Cumbria Constabulary (police)<br><br>
              20 minutes <span style="font-weight: bold;">face to face</span> at:<br><br>

              15 Maple Drive<br>
              Kendal <br>
              LA9 5BN<br><br>
              <p>
                <a href="#">Send me a text reminder 2 days before</a>
                <div class="red-link"><a href="#" class="red-link">Change or cancel</a></div><br><br>
                <a href="#">Add to your calendar</a><br>
                <a href="#">Print this page</a>
              </p>
        </div>

      </div>

    </div>
  </div>

</main>

{{/content}}

{{/layout}}
