{{<layout}}

{{$content}}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <a class="link-back" href="/examples/">Back to the GOV.UK</a>

    <form action="/" method="post" class="form">

      <h1 class="heading-xlarge">
          Convictions
      </h1>

      <p class="lede">
        In applying for a firearm licence, local police will check if you have been convicted of any offices.
      </p>

      <p class="lede">
        These includes motoring offences, binding overs, formal written warnings, cautions and convictions in and outside Great Britain. 
      </p>

      <p class="lede">
        Parking offences and fixed penalty notices are not checked when deciding to grant or refuse a firearm licence. 
      </p>

      <div class="form-group">
        <a href="convictions-check-DBS-yes-no" class="button" value="Continue">Continue</a>
      </div>


    </form>
</div>
</div>

</main>
{{/content}}

{{/layout}}
