{{<layout}}

{{$content}}
<main id="content" role="main">
  <a class="link-back" href="/examples/">Back to the GOV.UK prototype kit examples</a>

  <div class="grid-row">
    <div class="column-two-thirds">
    <form>
        <h1 class="heading-large">
          Use Disclosure and Barring Service to check if you have convicted any offences?
        </h1>

        <p class="">
         A quicker decision to grant or refuse a firearm licence can be given, if you give permission to for a <a href="https://www.gov.uk/disclosure-barring-service-check/overview">Disclosure and Barring Service.</a> check. 
        </p>

        <div class="grid-row">
          <div class="column-two-thirds">

            <div class="form-group">
              <fieldset>

                <legend class="visuallyhidden">
                  Check with Disclosure and Barring Service? 
                </legend>


                <label class="block-label" for="radio-other-address" data-target="example-other-address">
                  <input id="radio-other-address" type="radio" name="radio-indent-group" value="No">
                  No
                </label>

                <label class="block-label" for="radio-home-address" >
                  <input id="radio-home-address" type="radio" name="radio-indent-group" value="Yes">
                  Yes - I agree to Cumbria Police checking if I have any offence records with the Disclosure and Barring Service
                </label>

              </fieldset>
            </div>
            
          </div>
        </div>
          
      <div class="form-group">
        <a href="/convictions-check-DBS-result" class="button">Continue</a>
      </div>

      </form>

    </div>
  </div>
</main>
{{/content}}

{{/layout}}
