{{<layout}}

{{$pageTitle}}Check your answers{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <h1 class="heading-large">
    Your local police
  </h1>

  <table class="check-your-answers">

  	<thead>
  		<tr>
  			<th colspan="2">
  				<h2 class="heading-medium">
  					Cumbria Constabulary
  				</h2>
  			</th>
  			<th>
  			</th>
  		</tr>
  	</thead>

    <tbody>
  		<tr>
  			<td>
  				Kendal
  			</td>
  			<td>
  				Exporter name<br>
          First line of address<br>
          Second line of address<br>
          Contact: Contact Name<br>
          Tel: 01234 567 890<br>
          Email: email@email.com
  			</td>
  			<td class="change-answer">
  				<a href="#">
  					Change <span class="visuallyhidden">Exporter name</span>
  				</a>
  			</td>
  		</tr>
  		
  	</tbody>
  </table>

	<h2 class="heading-medium">Now send your application</h2>

	<p class="text">
    A firearms office from this police force will be process and 
  </p>

	<div class="form-group">
		<a href="confirmation-page" class="button">Continue</a>
	</div>

</main>

{{/content}}

{{/layout}}
