{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Welcome to the GOV.UK prototyping kit</h1>
	<!-- feel free to change this page to suit your needs -->

	<p>This is the index.html page - we recommend you put links to key pages here.</p>

	<h2 class="heading-large">Pages</h2>

	<!-- Start page -->
	<ul>
		<li>
			<a href="/start-page">Start page</a>
		</li>
	</ul>
	<!-- Routing -->
	<ul>
		<li>
			<a href="/routing-air-weapon-yes-no">Routing</a>
		</li>
	</ul>
	<!-- Referees -->
	<ul>
		<li>
			<a href="/referees-reason">Referees</a>
		</li>
	</ul>
	<!-- Photograph -->
	<ul>
		<li>
			<a href="/photo-reason">Photograph</a>
		</li>
	</ul>
	<!-- Medical -->
	<ul>
		<li>
			<a href="/medical-reason">Medical</a>
		</li>
	</ul>
	<!-- Convictions -->
	<ul>
		<li>
			<a href="/convictions-reason">Convictions</a>
		</li>
	</ul>
	<!-- Check your answers -->
	<ul>
		<li>
			<a href="/check-your-answers-page">Check your answers</a>
		</li>
	</ul>

	<br>

	<!-- Check your answers -->
	<ul>
		<li>
			<a href="/police-cases">Police: view application</a>
		</li>
	</ul>

	<br>
	<!-- Example pages -->
	<ul>
		<li>
			<a href="/examples">Example pages</a>
		</li>
	</ul>

	<h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
