{{<layout}}

{{$content}}
<main id="content" role="main">

  <a class="link-back" href="/examples/">Back to the GOV.UK prototype kit examples</a>

  <form action="/" method="post" class="form">

    <h1 class="form-title heading-large">
      Your GP's Address
    </h1>

    <div class="grid-row">
    <div class="column-two-thirds">

    <p>
      Where an application is successful your GP will be contacted and, where there is good reason, a medical report may be required.
    </p>

    </div>
    </div>

        <!-- House number -->
    <div class="form-group">
      <label class="form-label-bold" for="full-name">House number or name, building or street</label>
      <input type="text" class="form-control" id="full-name">
    </div>

     <!-- Town or city -->
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Town or city</label>
      <input type="text" class="form-control" id="full-name">
    </div>

     <!-- Postcode -->
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Postcode</label>
      <input type="text" class="form-control" id="full-name">
    </div>

    <div class="form-group">
      <a href="/medical-gp-address" class="button">Continue</a>
    </div>

  </form>

</main>
{{/content}}

{{/layout}}
