{{<layout}}

{{$content}}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <!-- 
    Good langugage to describe disability: 
    https://www.gov.uk/government/publications/inclusive-communication 
    -->

    <a class="link-back" href="/examples/">Back to the GOV.UK</a>

    <form action="/" method="post" class="form">

      <h1 class="form-title heading-xlarge">
        Personal health
      </h1>

      <p class="lede">
        You must disclose any physical or mental health condition that may affect your ability to safely possess and use a firearm. 
      </p>

      <p class="lede">
        You need to give details of your GP, so police can contact them to check information you give us. 
      </p>

      <div class="form-group">
        <a href="medical-condition-yes-no" class="button" value="Continue">Continue</a>
      </div>


    </form>
</div>
</div>

</main>
{{/content}}

{{/layout}}
