{{<layout}}

{{$content}}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <a class="link-back" href="/examples/">Back to the GOV.UK</a>

    <form action="/" method="post" class="form">

      <h1 class="form-title heading-xlarge">
        Photograph for licence
      </h1>

      <p class="lede">
        Licences must be accompanied by a photograph of you. When you buy firearms, this helps prove you have permission to do so.
      </p>

      <p class="lede">
        Police also use the photograph for inspections, ensure they are talking to the right person. 
      </p>

      <div class="form-group">
        <a href="photo-use-driving-photo-yes-no" class="button" value="Continue">Continue</a>
      </div>

    </form>
</div>
</div>

</main>
{{/content}}

{{/layout}}
