{{<layout}}

{{$content}}
<main id="content" role="main">
  <a class="link-back" href="/examples/">Back to the GOV.UK prototype kit examples</a>

  <div class="grid-row">
    <div class="column-two-thirds">
    <form>
        <h1 class="heading-large">
          Use the photograph from your driving licence? 
        </h1>

        <p class="">
         You can save time by allowing this service to automatically take the photographi from your driving licence. 
        </p>

        <div class="column-two-thirds">

        <div class="grid-row">
          <div class="form-group">

          <fieldset>

            <legend class="visuallyhidden">
              Use the photograph from your driving licence? 
            </legend>

            <label class="block-label" for="radio-other-address" data-target="example-other-address">
              <input id="radio-other-address" type="radio" name="radio-indent-group" value="No">
              No
            </label>

            <label class="block-label" for="radio-home-address" >
              <input id="radio-home-address" type="radio" name="radio-indent-group" value="Yes">
              Yes - I agree to Cumbria Police using my photograph provided by Driver and Vehicle Licensing Agency
            </label>

          </fieldset>
        </div>

          </div>
        </div>

      <div class="form-group">
        <a href="photo-show-driving-photo" class="button">Continue</a>
      </div>

      </form>

    </div>
  </div>
</main>
{{/content}}

{{/layout}}
