{{<layout}}

{{$pageTitle}}Firearm licences{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <h1 class="heading-large">
    Firearm licences
  </h1>

  <table class="check-your-answers">

  	<thead>
  		<tr>
  			<th colspan="2">
  				<h2 class="heading-medium">
  					Active cases
  				</h2>
  			</th>
  			<th>
  			</th>
  		</tr>
  	</thead>

    <tbody>
      <tr>
        <td>
          Tom Riddle
        </td>
        <td>
          Applying
        </td>
        <td class="change-answer">
          <a href="/police-view-application">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Arthur Weasley
        </td>
        <td>
          Renewing
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Dudley Dursley
        </td>
        <td>
          Applying
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Petunia Dursley
        </td>
        <td>
          Updating
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
  	</tbody>
  </table>

  <!-- Upcoming renewals -->
  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Upcoming renewals
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Tom Riddle
        </td>
        <td>
          17.3.2016
        </td>
        <td class="change-answer">
          <a href="/police-view-application">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Arthur Weasley
        </td>
        <td>
          21.3.2016
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Dudley Dursley
        </td>
        <td>
          23.3.2016
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Petunia Dursley
        </td>
        <td>
          Updating
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- All firearm licence holders -->
  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            All licence holders
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Tom Riddle
        </td>
        <td>
          17.3.2016
        </td>
        <td class="change-answer">
          <a href="/police-view-application">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Arthur Weasley
        </td>
        <td>
          21.3.2016
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Dudley Dursley
        </td>
        <td>
          23.3.2016
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Petunia Dursley
        </td>
        <td>
          Updating
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</main>

{{/content}}

{{/layout}}
