{{<layout-agent}}

{{$pageTitle}}Firearm licences{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <h1 class="heading-large">
    Firearm licences
  </h1>

          <div class="find-licence" style="">
            <label for="postcode" style="">
            <input class="postcode form-control" id="postcode" name="postcode" type="text" placeholder="eg name, postcode, firearm type," value="" style=""></label>
            <a href="found-local-police" class="button">Find</a>
          </div>

  <table class="check-your-answers">

  	<thead>
  		<tr>
  			<th colspan="2">
  				<h2 class="heading-medium">
  					Active cases
  				</h2>
  			</th>
  			<th>
  			</th>
  		</tr>
  	</thead>

    <tbody>
      <tr>
        <td>
          Tom Riddle
        </td>
        <td>
          Applying
        </td>
        <td class="change-answer">
          <a href="/police-view-application">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Arthur Weasley
        </td>
        <td>
          Renewing
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Dudley Dursley
        </td>
        <td>
          Applying
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Petunia Dursley
        </td>
        <td>
          Updating
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Ludovic Bagman
        </td>
        <td>
          Applying
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Barty Crouch
        </td>
        <td>
          Applying
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
         Fenrir Greyback
        </td>
        <td>
          Updating
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Draco Malfoy 
        </td>
        <td>
          Renewing
        </td>
        <td class="change-answer">
          <a href="#">
            view <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  </table>

</main>

{{/content}}

{{/layout-agent}}
