{{<layout-agent}}

{{$content}}
<main id="content" role="main">

  <form action="/" method="post" class="form">

    <h1 class="form-title heading-xlarge">
      Log in
    </h1>

    <div class="grid-row">
      <div class="column-two-thirds">

    <!-- Full name -->
    <div class="form-group">
      <label class="form-label" for="full-name">Username</label>
      <!--
      <p class="form-hint">As shown on your birth certificate or passport</p>
      -->
      <input type="text" class="form-control" id="full-name">
    </div>

    <div class="form-group">
      <label class="form-label" for="full-name">Password</label>
      <!--
      <p class="form-hint">As shown on your birth certificate or passport</p>
      -->
      <input type="text" class="form-control" id="full-name">
    </div>

    <a href="#"><p>Forgotten password</p></a>

      </div>
    </div>

    <div class="form-group">
      <a href="police-verify" type="submit" class="button" value="Continue">Continue</a>
    </div>


  </form>

</main>
{{/content}}

{{/layout-agent}}
