{{<layout}}

{{$content}}
<main id="content" role="main">
  <a class="link-back" href="/examples/">Back to the GOV.UK prototype kit examples</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/" method="post" class="form">

        <h1 class="heading-xlarge">
          First referee
        </h1>

        <p class="">
          A referee cannot be a member of your family, a registered firearms dealer, a serving police officer or police employee.    
        </p>

        <h2 class="heading-large">
          Who is your first referee?
        </h2>

        <!-- Full name -->
        <div class="form-group">
          <label class="form-label-bold" for="full-name">Full name</label>
          <p class="form-hint">For example, Neville Longbottom.</p>
          <input type="text" class="form-control" id="full-name">
        </div>

        <h2 class="heading-large">
          How do you know this person?
        </h2>

        <p class="form-hint">
          For example, they are my doctor.
        </p>

        <div class="form-group">
          <input type="text" class="form-control" id="full-name">
        </div>

        <!-- Continue button -->
        <div class="form-group">
          <a href="referee-one-relationship" class="button" value="Continue">Continue</a>
        </div>

      </form>

    </div>
  </div>
</main>
{{/content}}

{{/layout}}
