{{<layout}}

{{$content}}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

    <a class="link-back" href="/examples/">Back to the GOV.UK</a>

    <form action="/" method="post" class="form">

      <h1 class="heading-xlarge">
          Referees
      </h1>

      <p class="lede">
        When applying for a firearm licence, you need two people who can act as referees for you.
      </p>

      <p class="lede">
        Your referees must have known you personally for at least two years and be resident in Great Britain. 
      </p>

      <p class="lede">
        A referee cannot be a member of your family, a registered firearms dealer, a serving police officer or police employee. 
      </p>

      <div class="form-group">
        <a href="referee-one" class="button" value="Continue">Continue</a>
      </div>


    </form>
</div>
</div>

</main>
{{/content}}

{{/layout}}
