{{<layout}}

{{$pageTitle}} Get a firearm certicate {{/pageTitle}}

{{$propositionHeader}}
<!-- blank for no proposition header -->
{{/propositionHeader}}

{{$headerClass}}
<!-- blank for no proposition header -->
{{/headerClass}}

{{$content}}

<main id="content" role="main">

  <div id="global-breadcrumb">
    <ol>
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="/service-overview">Owning a gun</a></li>
      <li>Get a firearm certicate</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Get a firearm certicate
      </h1>

      <p>Use this service to:</p>

      <ul class="list-bullet">
        <li>Get permission to possess and use firearms</li>
      </uL>

      <div class="panel-indent panel-indent-info">
        <p>
          You must be 18 years old or above to use this service. 
        </p>
      </div>

      <p></p>
      <p>Applying takes around 20 minutes.</p>

      <p>
        <a class="button button-start" href="/routing-air-weapon-yes-no" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You can also <a href="https://www.gov.uk/government/publications/firearms-application-forms">apply by post.</a></p>

      <p>This service requires you to use Verify to prove your identiy.</p>

      <p>You will be asked for permission to contact your GP.</p>

      <p>You will need two referees that can be contacted by local police.</p>

      <p>You will need to upload a passport photograph.

      <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>

      <p>Getting a firearm licence can take up 8 weeks.</p>
    </div>

    <div class="column-third">

      <div class="related-links">
        <h2 class="heading-medium">Subsection</h2>

        <ul class="font-xsmall">
          <li><a href="#">Related link</a></li>
          <li><a href="#">Related link</a></li>
          <li><a href="#" class="bold-xsmall">More</a></li>
        </ul>
      </div>

    </div>
  </div>

</main>

{{/content}}

{{/layout}}
