{{<layout}}

{{$content}}
<main id="content" role="main">

<div class="grid-row">
    <div class="column-two-thirds">

  <a class="link-back" href="/examples/">Back to the GOV.UK prototype kit examples</a>

  <form action="/" method="post" class="form">

    <h1 class="form-title heading-large">
      What types of firearms are you wanting to possess and use?
    </h1>

    <p>Part of getting a firearm licence involves a inspection by local police. They will visit where your firearms are kept, to check they are being stored safety.</p>

    <div class="panel-indent panel-indent-info">
      <p>
      The firearms officer needs to know what types of firearms to expect to find at your address.
      </p>
    </div>

    <!-- Firearm types-->
    <p></p>
    <div class="form-group">
      <label class="form-label-bold" for="full-name">Firearm type</label>
      <p class="form-hint">For example: 12 gauge, smooth bore, shooting vermin</p>

      <p></p>
      <div class="form-group">
        <label class="form-label-bold" for="full-name">Calibre</label>
        <input type="text" class="form-control" id="full-name">
      </div>

      <p></p>
      <div class="form-group">
        <label class="form-label-bold" for="full-name">Type</label>
        <input type="text" class="form-control" id="full-name">
      </div>

      <p></p>
      <div class="form-group">
        <label class="form-label-bold" for="full-name">Use</label>
        <input type="text" class="form-control" id="full-name">
      </div>

    </div>

    <div class="form-group">
      <details>
        <summary><span class="summary">Add another firearm type</span></summary>
        <p></p>
        
        <div class="form-group">
          <label class="form-label-bold" for="full-name">Firearm type</label>
          <p class="form-hint">For example: 12 gauge, smooth bore, shooting vermin</p>

          <p></p>
          <div class="form-group">
            <label class="form-label-bold" for="full-name">Calibre</label>
            <input type="text" class="form-control" id="full-name">
          </div>

          <p></p>
          <div class="form-group">
            <label class="form-label-bold" for="full-name">Type</label>
            <input type="text" class="form-control" id="full-name">
          </div>

          <p></p>
          <div class="form-group">
            <label class="form-label-bold" for="full-name">Use</label>
            <input type="text" class="form-control" id="full-name">
          </div>

        </div>

      </details>
    </div>

    <div class="form-group">
      <a href="storage-type" class="button" value="Continue">Continue</a>
    </div>

  </form>

</div>
</div>

</main>
{{/content}}

{{/layout}}
